SharedResourses/ServiceCustomerInfo/CustomerInformationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/StacyTesting/SharedResourses/Schemas/Schema.xsd3"
	 targetNamespace="http://www.tibco.com/schemas/StacyTesting/SharedResourses/Schemas/Schema.xsd3"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="CustomerInformationRequest" type="CustomerInformationRequestType"/>
	<xs:complexType name="CustomerInformationRequestType">
		<xs:sequence>
			<xs:element name="CustomerInformationRequestD" type="xs:string"/>
			<xs:element name="CustomerID" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>