SharedResourses/ServiceCustomerInfo/CustomerInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/StacyTesting/SharedResourses/Services/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/StacyTesting/SharedResourses/Services/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
		<xs:complexType name="CustomerInformationType">
			<xs:sequence>
				<xs:element name="Name" type="xs:string"/>
				<xs:element name="Age" type="xs:string"/>
				<xs:element name="CustomerID" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	<xs:element name="CustomerInformation" type="CustomerInformationType"/>
</xs:schema>